:root {
  box-sizing: border-box;
}

body,
h1 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 6rem;
}

.headline,
.foot {
  text-align: center;
}

article p::first-line {
  font-size: 1.1em;
}

article {
  text-align: justify;
  font-size: 1.25em;
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
}

.desktop {
  display: none;
}


@media ( min-width: 769px ) {
  .left, .right {
    padding: 5px 10px;
    width: 49%;
    display: inline-block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    text-align: center;
    font-size: 3rem;
    display: initial;
  }

}